name: Simple Action

on: 
  repository_dispatch: 
    types: [this-is-a-test]
  schedule:
    - cron: "*/2 * * * *" # every even minute
jobs:
  run-javascript-action:
    runs-on: ubuntu-latest
    steps:
      - name: Simple action
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: 'Mona the Octocat'
        id: greet_1
      - name: Log time
        run: echo "${{steps.greet_1.outputs.time}}"
