name: Testing env vars

on: 
  - push

env:
  test: ${{ secrets.TEST }}

jobs:
  Checkout:
    runs-on: windows-latest
    steps:  
      - name: checkout
        uses: actions/checkout@v2

  Run-scripts-with-vars:
    runs-on: windows-latest
    needs: Checkout
    steps:  
      - name: print-var 
        run: echo ${env:PATH}
        shell: powershell

      - name: assign variable
        run: |
          echo "{test}={BAR}" >> $GITHUB_ENV
            
      - name: run test script
        run: .\scripts\test.ps1
        