name: Testing env vars

on: 
  - push

env:
  test: ${{ secrets.TEST }}
  #testValue: "testing"
jobs:
  #Checkout:
    # runs-on: windows-latest
    # steps:  
     
  Run-scripts-with-vars:
    runs-on: windows-latest
    #needs: Checkout
    steps:
      - name: checkout
        uses: actions/checkout@v2
  
      - name: print-var 
        run: echo ${env:PATH}
        shell: powershell

      - name: assign variable
        shell: bash
        run: |
          echo "test=BAR" >> $GITHUB_ENV
            
      - name: run test script
        run: .\scripts\test.ps1
      
      - name: check variable
        run: Write-Host Found it ${{ env.test }}
        if: ${{ env.test == 'BAR' }}
        