name: Testing env vars

on: 
  - push

env:
  test: ${{ secrets.TEST }}

jobs:
  Checkout:
    runs-on: windows-latest
    steps:  
      - name: checkout
        uses: actions/checkout@v2
  
      - name: Directory
        run: |
          pwd
          ls

  Run-scripts-with-vars:
    runs-on: windows-latest
    needs: Checkout
    steps:  
      - name: run-script
        run: echo ${env:PATH}
        shell: powershell
      - name: assign variable
        run: |
          (Get-Host).Version
          $env:test = $(env:test == 'N') ? "-NoOutput": "YesOutput"  
      - name: Directory
        run: |
          pwd
          ls
          .\scripts\test.ps1
          ls
      
