name: Testing env vars

on: 
  - push

env:
  test: ${{ secrets.TEST }}
  #testValue: "testing"
  runners: "qa"
jobs:
  #Checkout:
    # runs-on: windows-latest
    # steps:  
     
  Run-scripts-with-vars:
    runs-on: [self-hosted, qa]
    #needs: Checkout
    steps:
      - name: checkout
        uses: actions/checkout@v2
  
      - name: print-var 
        run: echo ${env:PATH}
        shell: powershell

      - name: assign variable
        shell: powershell
        run:  |
          (Get-Host).Version
          if ($env:test -eq 'N'){
            Write-Output "test=-NoWrong" >> $env:GITHUB_ENV
          } else {
            Write-Output "test=-YesValid" >> $env:GITHUB_ENV
          } 
      - name: run test script
        run: .\scripts\test.ps1
      
      - name: check variable
        run: Write-Host Found it ${{ env.test }}
        #if: ${{ env.test == 'BAR' }}
        